### MAP

#### Using map, create a list assigned to the variable greeting_doubled that doubles each element in the list lst.

In [7]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

greeting_doubled = map(lambda value: 2 * value, lst)
print(list(greeting_doubled))

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

#### Below, we have provided a list of strings called abbrevs. Use map to produce a new list called abbrevs_upper that contains all the same strings in upper case.

In [9]:
abbrevs = ["usa", "esp", "chn", "jpn", "mex", "can", "rus", "rsa", "jam"]

abbrevs_upper = map(lambda abr: abr.upper(), abbrevs)
print(list(abbrevs_upper))

['USA', 'ESP', 'CHN', 'JPN', 'MEX', 'CAN', 'RUS', 'RSA', 'JAM']

### FILTER

####  Write code to assign to the variable filter_testing all the elements in lst_check that have a w in them using filter.

In [10]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

filter_testing = filter(lambda word: 'w' in word, lst_check)

print(list(filter_testing))

['watermelon', 'kiwi', 'strawberries']

#### Using filter, filter lst so that it only contains words containing the letter “o”. Assign to variable lst2. Do not hardcode this.

In [11]:
lst = ["witch", "halloween", "pumpkin", "cat", "candy", "wagon", "moon"]

lst2 = filter(lambda word: 'o' in word, lst)
print(list(lst2))

['halloween', 'wagon', 'moon']

### LIST COMPREHENSIONS

In [13]:
### Class samples
things = [2, 5, 9]

mylist = [value * 2 for value in things]
mylist

[4, 10, 18]

In [14]:
### class sample:
# we can also build list comprehensions within a function

def keep_evens(nums):
    new_list = [num for num in nums if num % 2 == 0]
    return new_list

keep_evens([3, 4, 6, 7, 0, 1])

[4, 6, 0]

In [21]:
## Class sample
# we can also combine filter & map by chaining them together
# first double the numbers & then filter to keep the even only

things = [3, 4, 6, 7, 0, 1]

combine = map(lambda x: x * 2, filter(lambda y: y % 2 == 0, things))
print(list(combine))

[8, 12, 0]

#### The for loop below produces a list of numbers greater than 10. Below the given code, use list comprehension to accomplish the same thing. Assign it the the variable lst2. Only one line of code is needed.

In [22]:
L = [12, 34, 21, 4, 6, 9, 42]
lst = []
for x in L:
    if x > 10:
        lst.append(x)
print(lst)

lst2 = [num for num in L if num > 10]
print(lst2)

[12, 34, 21, 42]
[12, 34, 21, 42]

#### Write code to assign to the variable compri all the values of the key name in any of the sub-dictionaries in the dictionary tester. Do this using a list comprehension.

In [77]:
tester = {'info': [{"name": "Lauren", 'class standing': 'Junior', 'major': "Information Science"},{'name': 'Ayo', 'class standing': "Bachelor's", 'major': 'Information Science'}, {'name': 'Kathryn', 'class standing': 'Senior', 'major': 'Sociology'}, {'name': 'Nick', 'class standing': 'Junior', 'major': 'Computer Science'}, {'name': 'Gladys', 'class standing': 'Sophomore', 'major': 'History'}, {'name': 'Adam', 'major': 'Violin Performance', 'class standing': 'Senior'}]}

# for test in tester['info']:
#     print(test['name'])
    
compri = [test['name'] for test in tester['info']]
compri

['Lauren', 'Ayo', 'Kathryn', 'Nick', 'Gladys', 'Adam']

### ZIP

#### Below we have provided two lists of numbers, L1 and L2. Using zip and list comprehension, create a new list, L3, that sums the two numbers if the number from L1 is greater than 10 and the number from L2 is less than 5. This can be accomplished in one line of code.

In [99]:
L1 = [1, 5, 2, 16, 32, 3, 54, 8, 100]
L2 = [1, 3, 10, 2, 42, 2, 3, 4, 3]

L3 = [x1 + x2 for (x1, x2) in list(zip(L1,L2)) if (x1 > 10) & (x2 < 5)]
L3

[18, 57, 103]

## FINAL TEST

#### Write code to assign to the variable map_testing all the elements in lst_check while adding the string “Fruit: ” to the beginning of each element using mapping.

In [101]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

map_testing = map(lambda x: 'Fruit: ' + x, lst_check)
list(map_testing)

['Fruit: plums',
 'Fruit: watermelon',
 'Fruit: kiwi',
 'Fruit: strawberries',
 'Fruit: blueberries',
 'Fruit: peaches',
 'Fruit: apples',
 'Fruit: mangos',
 'Fruit: papaya']

#### Below, we have provided a list of strings called countries. Use filter to produce a list called b_countries that only contains the strings from countries that begin with B.

In [102]:
countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']

b_countries = filter(lambda country: 'B' in country, countries)
list(b_countries)

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

#### Below, we have provided a list of tuples that contain the names of Game of Thrones characters. Using list comprehension, create a list of strings called first_names that contains only the first names of everyone in the original list.

In [161]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]

# for name in people:
#     print(name[1])

first_names  = [name[1] for name in people]
first_names

['Jon',
 'Cersei',
 'Arya',
 'Robb',
 'Jamie',
 'Daenerys',
 'Sansa',
 'Margaery',
 'Eddard',
 'Tyrion',
 'Joffrey',
 'Ramsey',
 'Peter']

#### Use list comprehension to create a list called lst2 that doubles each element in the list, lst.

In [112]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

lst2 = [value * 2 for value in lst]
lst2

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

#### Below, we have provided a list of tuples that contain students’ names and their final grades in PYTHON 101. Using list comprehension, create a new list passed that contains the names of students who passed the class (had a final grade of 70 or greater).

In [121]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]

passed = [name[0] for name in students if name[1] >= 70]
passed

['Tommy', 'Carl', 'Bob', 'Sue']

#### Write code using zip and filter so that these lists (l1 and l2) are combined into one big list and assigned to the variable opposites if they are both longer than 3 characters each.

In [157]:
l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']

opposites = filter(lambda x: len(x[0]) > 3, zip(l1, l2))

list(opposites)

[('left', 'right'), ('front', 'back')]

In [147]:
## Testing lambda function

stri = ['apple', 'one', 'casa', 'house', 'up', 'do']

# for elem in stri:
#     if len(elem) > 3:
#         print(elem)

x = filter(lambda x: len(x) > 3, stri)
list(x)

['apple', 'casa', 'house']

#### Below, we have provided a species list and a population list. Use zip to combine these lists into one list of tuples called pop_info. From this list, create a new list called endangered that contains the names of species whose populations are below 2500.

In [162]:
species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']

population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]

pop_info = list(zip(species, population))

endangered = [specie[0] for specie in pop_info if specie[1] < 2500]
endangered

# alternatively, using filter
endangered2 = filter(lambda x: int(x[1] < 2500), pop_info)
endangered2 = list(endangered2)

print(endangered)
print(endangered2)

['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']
[('black rhino', 1000), ('orangutan', 500), ('sumatran elephant', 1200), ('blue whale', 2300), ('giant panda', 100), ('green turtle', 1800)]