#### Write code to add ‘horseback riding’ to the third position (i.e., right before volleyball) in the list sports.

In [559]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']

sports.insert(2, 'horseback riding')
sports

['cricket',
 'football',
 'horseback riding',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

#### Write code to take ‘London’ out of the list trav_dest.

In [560]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']
trav_dest.pop(7)
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne']

#### Write code to add ‘Guadalajara’ to the end of the list trav_dest using a list method.

In [562]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'Melbourne']
trav_dest.append('Guadalajara')
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne',
 'Guadalajara']

#### Write code to rearrange the strings in the list winners so that they are in alphabetical order from A to Z.

In [564]:
winners = ['Kazuo Ishiguro', 'Rainer Weiss', 'Youyou Tu', 'Malala Yousafzai', 'Alice Munro', 'Alvin E. Roth']
winners.sort()
winners

['Alice Munro',
 'Alvin E. Roth',
 'Kazuo Ishiguro',
 'Malala Yousafzai',
 'Rainer Weiss',
 'Youyou Tu']

#### Write code to switch the order of the winners list so that it is now Z to A. Assign this list to the variable z_winners.

In [583]:
winners = ['Alice Munro', 'Alvin E. Roth', 'Kazuo Ishiguro', 'Malala Yousafzai', 'Rainer Weiss', 'Youyou Tu']
z_winners = []

for names in winners:
    z_winners.append(names)
    z_winners.sort(reverse = True)
print(z_winners)

['Youyou Tu', 'Rainer Weiss', 'Malala Yousafzai', 'Kazuo Ishiguro', 'Alvin E. Roth', 'Alice Munro']