In [1]:
# count vowels on each word

s = "singing in the rain and playing in the rain are two entirely different situations but both can be fun"
s = s.split()
vowels = ['a', 'e', 'i', 'o', 'u']

for word in s:
    ct = 0
    for char in word:
        if char in vowels:
            ct += 1
    print(word, ct)

singing 2
in 1
the 1
rain 2
and 1
playing 2
in 1
the 1
rain 2
are 2
two 1
entirely 3
different 3
situations 5
but 1
both 1
can 1
be 1
fun 1

In [2]:
# print TOTAL ONLY of vowels in s
s = "singing in the rain and playing in the rain are two entirely different situations but both can be fun"

vowels = ['a', 'e', 'i', 'o', 'u']

num_vowels = 0

for char in s:
    if char in vowels:
        num_vowels += 1
num_vowels

32

In [3]:
# count the words that have the word "a" or "e" and put them in the num_word_a_or_e
sentence = "python is a high level general purpose programming language that can be applied to many different classes of problems."
sentence = sentence.split()

num_a_or_e = 0

for word in sentence:
    if 'a' in word:
        print(word)
        num_a_or_e += 1
    elif "e" in word:
        print(word)
        num_a_or_e += 1
num_a_or_e

a
level
general
purpose
programming
language
that
can
be
applied
many
different
classes
problems.

14

In [4]:
# count the words that have the word 'w' in them
items = ["whirring", "wow!", "calendar", "wry", "glass", "", "llama","tumultuous","owing"]

accum_num = 0

for word in items:
    if 'w' in word:
        print(word)
        accum_num += 1
accum_num

whirring
wow!
wry
owing

4

In [5]:
#count number of words that start and finish with the same letter
sentence = "students flock to the arb for a variety of outdoor activities such as jogging and picnicking"
sentence = sentence.split()

same_letter_ct = 0

for word in sentence:
    if word[0] == word[-1]:
        same_letter_ct += 1
        print(word)
same_letter_ct

students
a

2

In [6]:
# create a count of months with greater than 3 inch rain
rainfall_mi = "1.65, 1.46, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85"
rainfall_mi = rainfall_mi.split(',')
print(rainfall_mi)

ct = 0
for rain in rainfall_mi:
    rain = float(rain)
    if rain > 3:
        ct += 1
ct

['1.65', ' 1.46', ' 2.05', ' 3.03', ' 3.35', ' 3.46', ' 2.83', ' 3.23', ' 3.5', ' 2.52', ' 2.8', ' 1.85']

5

In [7]:
# create a list of past tense words from the list below, call it past tense, and add 'd' or 'ed' accordingly
words = ["adopt", "bake", "beam", "confide", "grill", "plant", "time", "wave", "wish"]

past_tense = []

for word in words:
    if word[-1] == 'e':
        word = word + 'd'
        past_tense.append(word)
    else:
        word = word + 'ed'
        past_tense.append(word)
past_tense

['adopted',
 'baked',
 'beamed',
 'confided',
 'grilled',
 'planted',
 'timed',
 'waved',
 'wished']

In [8]:
# how many words have more than 3 characters
words = ["water", "chair", "pen", "basket", "hi", "car"]

num_words = 0

for word in words:
    word_len = len(word)
    if word_len > 3:
        print(f' {word} : has {word_len} characters')
        num_words += 1
num_words

 water : has 5 characters
 chair : has 5 characters
 basket : has 6 characters

3

In [9]:
# if true is in str1, etc.
str1 = "Today you are you! That is truer than true! There is no one alive who is you-er than you!"

if 'true' in str1:
    print('Yes, it is you')
elif 'fasle' in str1:
    print("no you aren't you")
else:
    print('Neither')

Yes, it is you

In [10]:
# create a list called resps for months with 90(Bring Umbrella), 80(Good for the flowers), 50(Watch for clouds), Nice day!
percent_rain = [94.3, 45, 100, 78, 16, 5.3, 79, 86]

resps = []

for rain in percent_rain:
    if rain > 90:
        resps.append('Bring Umbrella')
    elif rain > 80:
        resps.append('Good for the flowers')
    elif rain > 50:
        resps.append('Watch for the clouds')
    else:
        resps.append('Nice day!')
resps

['Bring Umbrella',
 'Nice day!',
 'Bring Umbrella',
 'Watch for the clouds',
 'Nice day!',
 'Nice day!',
 'Watch for the clouds',
 'Good for the flowers']

In [11]:
# create a empty string and call it lett, and with 7 b's (bbbbbbb)
lett = ''

for b in range(7):
    lett += 'b'
lett

'bbbbbbb'

In [12]:
# Create list of words lenghts
original_str = "The quick brown rhino jumped over the extremely lazy fox"
original_str = original_str.split()

num_words_list = []

for word in original_str:
    word_len = len(word)
    num_words_list.append(word_len)
num_words_list

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [13]:
# Average temp
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
week_temps_f = week_temps_f.split(',')
# print(week_temps_f)

avg_temp = 0 # don't really need to initialize a counter here
ct = 0
temp_acc = 0
for temp in week_temps_f:
    temp = float(temp)
    ct += 1
    temp_acc += temp
    avg_temp = temp_acc / (ct)
    print(avg_temp)
avg_temp

75.1
76.4
78.66666666666667
79.625
79.9
79.83333333333333
80.67142857142858

80.67142857142858

In [14]:
## Adding an addictional for loop for dictionary practice
# practice a for loop with cities in the nested dictionary below
# extract the cities that start with S

states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}


for state in states:
    cities = list(states[state])
    for city in cities:
        if city[0] == 'S':
            print(city)

St. Paul
Saint Cloud
Stillwater
Seattle

# Dictionary Practice

In [15]:
# add an additional key-value pair for Phelps with 23 as value

swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4}
swimmers['Phelps'] = 23
swimmers

{'Adrian': 7,
 'Dirado': 4,
 'Ledecky': 5,
 'Lochte': 12,
 'Manuel': 4,
 'Phelps': 23}

In [16]:
# add hockey to the dictionary with a value of 3

sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}
sports_periods['hockey'] = 3
sports_periods

{'baseball': 9, 'basketball': 4, 'cricket': 2, 'hockey': 3, 'soccer': 4}

In [17]:
# add 2 more medals for Spain and update the dictionary
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
golds['Spain'] = golds['Spain'] + 2
golds

{'Argentina': 8,
 'Brazil': 15,
 'Canada': 22,
 'China': 27,
 'England': 29,
 'Italy': 12,
 'Spain': 21,
 'USA': 33}

In [18]:
# create a list of countries and assign it to the variable countries

golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
countries = list(golds)
countries

['Italy', 'USA', 'Brazil', 'China', 'Spain', 'Canada', 'Argentina', 'England']

In [19]:
# find the total number of medals Chile has won
total_golds = {"Italy": 114, "Germany": 782, "Pakistan": 10, "Sweden": 627, "USA": 2681, "Zimbabwe": 8, "Greece": 111, "Mongolia": 24, "Brazil": 108, "Croatia": 34, "Algeria": 15, "Switzerland": 323, "Yugoslavia": 87, "China": 526, "Egypt": 26, "Norway": 477, "Spain": 133, "Australia": 480, "Slovakia": 29, "Canada": 22, "New Zealand": 100, "Denmark": 180, "Chile": 13, "Argentina": 70, "Thailand": 24, "Cuba": 209, "Uganda": 7,  "England": 806, "Denmark": 180, "Ukraine": 122, "Bahamas": 12}
chile_golds = total_golds['Chile']
chile_golds

13

In [20]:
# find out the total number of countries (total value)
travel = {"North America": 2, "Europe": 8, "South America": 3, "Asia": 4, "Africa":1, "Antarctica": 0, "Australia": 1}

total = 0

for continent in travel:
    total += travel[continent]
total

19

In [21]:
# compute total num of credits

Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}

tot_cred = 0

for course in Junior:
    tot_cred += Junior[course]
tot_cred

18

In [22]:
# ***QUITE USEFUL compute a total score for the scarlet study (scarlet.txt)***

f = open('scarlet.txt', 'r')
txt = f.read()

scarlet = {}

for char in txt:
    if char not in scarlet:
        scarlet[char] = 0
    scarlet[char] += 1
#print(scarlet)

letter_values = {'a': 1, 'b': 3, 'c': 3, 'd': 2, 'e': 1, 'f':4, 'g': 2, 'h':4, 'i':1, 'j':8, 'k':5, 'l':1, 'm':3, 'n':1, 'o':1, 'p':3, 'q':10, 'r':1, 's':1, 't':1, 'u':1, 'v':4, 'w':4, 'x':8, 'y':4, 'z':10}

tot = 0

for letter in scarlet:
    if letter in letter_values:
        tot += letter_values[letter] * scarlet[letter]
tot

337353

In [23]:
# create a dictionary called freq that counts the number of each letter
str1 = "peter piper picked a peck of pickled peppers"

freq = {}

for char in str1:
    if char not in freq:
        freq[char] = 0
    freq[char] += 1

sort_freq = sorted(freq, key = lambda key: freq[key], reverse = True)

for key in sort_freq:
    print('{} appears {} times '.format(key, freq[key]))

p appears 9 times
e appears 8 times
  appears 7 times
r appears 3 times
i appears 3 times
c appears 3 times
k appears 3 times
d appears 2 times
t appears 1 times
a appears 1 times
o appears 1 times
f appears 1 times
l appears 1 times
s appears 1 times

In [24]:
# count each letter in a dict
s1 = "hello"

counts = {}

for char in s1:
    if char not in counts:
        counts[char] = 0
    counts[char] += 1
counts

{'e': 1, 'h': 1, 'l': 2, 'o': 1}

In [25]:
# create a dict that counts each word
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"
str1 = str1.split()

freq_words = {}

for word in str1:
    if word not in freq_words:
        freq_words[word] = 0
    freq_words[word] += 1
freq_words

{'I': 2,
 'a': 1,
 'all': 1,
 'apart': 1,
 'dragons': 1,
 'fly': 1,
 'heart': 1,
 'in': 1,
 'land': 1,
 'my': 1,
 'to': 1,
 'wish': 2,
 'with': 2}

In [26]:
# count number of WORDS and create a dictionary
sent = "Singing in the rain and playing in the rain are two entirely different situations but both can be good"
sent = sent.split()

wrd_d = {}

for word in sent:
    if word not in wrd_d:
        wrd_d[word] = 0
    wrd_d[word] += 1
wrd_d

{'Singing': 1,
 'and': 1,
 'are': 1,
 'be': 1,
 'both': 1,
 'but': 1,
 'can': 1,
 'different': 1,
 'entirely': 1,
 'good': 1,
 'in': 2,
 'playing': 1,
 'rain': 2,
 'situations': 1,
 'the': 2,
 'two': 1}

In [27]:
# count number of chars and compute best char
sally = "sally sells sea shells by the sea shore"

freq_lett = {}

for char in sally:
    if char not in freq_lett:
        freq_lett[char] = 0
    freq_lett[char] += 1
print(freq_lett)

keys = list(freq_lett.keys())
best_char = keys[0]

for key in keys:
    if freq_lett[key] > freq_lett[best_char]:
        best_char = key
best_char

{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}

's'

In [28]:
# count number of chars and compute worst char
sally = "sally sells sea shells by the sea shore and by the road"

less_fre = {}
for char in sally:
    if char not in less_fre:
        less_fre[char] = 0
    less_fre[char] += 1
print(less_fre)

keys = list(less_fre.keys())
worst_char = keys[0]

for key in keys:
    if less_fre[key] < less_fre[worst_char]:
        worst_char = key
worst_char

{'s': 8, 'a': 5, 'l': 6, 'y': 3, ' ': 11, 'e': 7, 'h': 4, 'b': 2, 't': 2, 'o': 2, 'r': 2, 'n': 1, 'd': 2}

'n'

In [29]:
# count number of chars in lower case and compute best char
string1 = "There is a tide in the affairs of men, Which taken at the flood, leads on to fortune. Omitted, all the voyage of their life is bound in shallows and in miseries. On such a full sea are we now afloat. And we must take the current when it serves, or lose our ventures."
string1 = string1.lower()

letter_counts = {}

for char in string1:
    if char not in letter_counts:
        letter_counts[char] = 0
    letter_counts[char] += 1
print(letter_counts)

keys = list(letter_counts.keys())
best_char = keys[0]

for key in keys:
    if letter_counts[key] > letter_counts[best_char]:
        best_char = key
best_char

{'t': 19, 'h': 11, 'e': 29, 'r': 12, ' ': 53, 'i': 14, 's': 15, 'a': 17, 'd': 7, 'n': 15, 'f': 9, 'o': 17, 'm': 4, ',': 4, 'w': 6, 'c': 3, 'k': 2, 'l': 11, 'u': 8, '.': 4, 'v': 3, 'y': 1, 'g': 1, 'b': 1}

' '

In [30]:
# count number of characters - k-v dictionary in lower case
p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."
p = p.lower()

low_d = {}

for char in p:
    if char not in low_d:
        low_d[char] = 0
    low_d[char] += 1

print(low_d)

keys = list(low_d.keys())
max_val = keys[0]

for key in keys:
    if low_d[key] > low_d[max_val]:
        max_val = key
max_val

{'s': 5, 'u': 7, 'm': 3, 'e': 12, 'r': 3, ' ': 20, 'i': 3, 'a': 6, 'g': 3, 't': 9, 'o': 8, 'd': 1, '.': 2, 'y': 1, 'h': 6, 'v': 1, 'b': 2, 'c': 2, 'f': 3, 'l': 1, 'n': 1}

' '

# Sorting Practice

In [31]:
# more practice with this one
# create a dictionary, and sort the newly created dictionary

L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

new_dict = {}

for letter in L:
    if letter not in new_dict:
        new_dict[letter] = 0
    new_dict[letter] += 1
print(new_dict)

keys = list(new_dict.keys())

for letter in keys:
    #print(letter, new_dict[letter])
    print('{} appears {} times '.format(letter, new_dict[letter]))

{'E': 2, 'F': 1, 'B': 2, 'A': 2, 'D': 4, 'I': 2, 'C': 1}
E appears 2 times
F appears 1 times
B appears 2 times
A appears 2 times
D appears 4 times
I appears 2 times
C appears 1 times

In [32]:
# Alternatively we can sort the list and the newly created dict by alphabetical order

L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

new_d = {}

for letter in L:
    if letter not in new_d:
        new_d[letter] = 0
    new_d[letter] += 1

# print(new_d)
    
sort_dict = sorted(new_d.keys())

for key in sort_dict:
    print('{} appears {} times'.format(key, new_d[key]))

A appears 2 times
B appears 2 times
C appears 1 times
D appears 4 times
E appears 2 times
F appears 1 times
I appears 2 times

In [33]:
# We can also sort the dictionary based on its key values, use a named function, NOT labmda

L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

d = {}

for letter in L:
    if letter not in d:
        d[letter] = 0
    d[letter] += 1
    
""" alternativeley we can use the below for loop to build the dictionary
for x in L:
    if x in d:
        d[x] += 1
    else:
        d[x] = 1
        
print(d)

""" 

def sort_key(key):
    return d[key]
    
sorted_keys = sorted(d.keys(), reverse = True, key = sort_key)

for key in sorted_keys:
    print('{} appears {} times'.format(key, d[key]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

In [34]:
## shortcut for experienced programmers

L = ['E', 'F', 'B', 'A', 'D', 'I', 'I', 'C', 'B', 'A', 'D', 'D', 'E', 'D']

dicc = {}

for lett in L:
    if lett in dicc:
        dicc[lett] += 1
    else:
        dicc[lett] = 1
        
sort_dic = sorted(dicc, reverse = True, key = lambda key: dicc[key])

for key in sort_dic:
    print('{} appears {} times'.format(key, dicc[key]))

D appears 4 times
E appears 2 times
B appears 2 times
A appears 2 times
I appears 2 times
F appears 1 times
C appears 1 times

In [35]:
# You will be sorting the following list by each element’s second letter, a to z. Create a function to use 
# when sorting, called second_let. It will take a string as input and return the second letter of that string. 
# Then sort the list, create a variable called sorted_by_second_let and assign the sorted list to it. 
# Do not use lambda.

ex_lst = ['hi', 'how are you', 'bye', 'apple', 'zebra', 'dance']

def seond_let(x):
    return x[1]

sorted_by_second_let = sorted(ex_lst, key = seond_let)
sorted_by_second_let

['dance', 'zebra', 'hi', 'how are you', 'apple', 'bye']

In [36]:
# Below, we have provided a list of strings called nums. 
# Write a function called last_char that takes a string as input, and returns only its last character. 
# Use this function to sort the list nums by the last digit of each number, from highest to lowest, and 
# save this as a new list called nums_sorted.

nums = ['1450', '33', '871', '19', '14378', '32', '1005', '44', '8907', '16']

def last_char(x):
    return x[-1]

nums_sorted = sorted(nums , reverse = True,key = last_char) # 9, 8, 7, 6, 5, 4, 3,.....
nums_sorted

['19', '14378', '8907', '16', '1005', '44', '33', '32', '871', '1450']

In [38]:
# Once again, sort the list nums based on the last digit of each number from highest to lowest. 
# However, now you should do so by writing a lambda function. Save the new list as nums_sorted_lambda.

nums = ['1450', '33', '871', '19', '14378', '32', '1005', '44', '8907', '16']

nums_sorted_lambda = sorted(nums, reverse = True, key = lambda x : x[-1])
nums_sorted_lambda

['19', '14378', '8907', '16', '1005', '44', '33', '32', '871', '1450']

#### The way of the programmer for sorting

In [39]:
# sort the states in order by the length of the first city

states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

"""alternatively with a named function

for state in states:
    cities = list(state[states])
    for city in cities:
        len_city = len(states[state][0])
    print(len_city)


def sort(state):
    len_st = len(states[state][0])  HOWEVER, we just use the last portion of the for loop and as a parameter the key
    return len_st                   which is "state"


def sort_len(state):
    cities = list(states[state])
    return len(cities[0])
    
"""

sort_cities = sorted(states, key = lambda state: (len(states[state][0])))
sort_cities

['Washington', 'Minnesota', 'Michigan']

In [40]:
# sort by the number of cities that start with letter 'S'

states = {"Minnesota": ["St. Paul", "Minneapolis", "Saint Cloud", "Stillwater"],
          "Michigan": ["Ann Arbor", "Traverse City", "Lansing", "Kalamazoo"],
          "Washington": ["Seattle", "Tacoma", "Olympia", "Vancouver"]}

""" I use a for loop to build the named function
ct = 0
for state in states:
    cities = list(states[state])
    for city in cities:
        if city[0] == 'S':
            print(city)
            ct += 1
print(ct)

ADDITIONALLY I can fully use the following function:

def sort_scity(state):
    cities = list(states[state]):
    ct = 0
    for city in cities:
        if city[0] == 'S':
            ct += 1
    return ct

"""  
  
def cities(cities): 
    num_cities = 0
    for city in cities:
        if city[0] == 'S':
            num_cities += 1
    return num_cities
    
sort_city = sorted(states, key = lambda state: cities(states[state])) # from lowest to highest
sort_city

['Michigan', 'Washington', 'Minnesota']

## Nested Functions

In [41]:
# A list that contains several dictionaries
nested2 = [{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': "yes"}]

#write code to print the value associated with key 'c' in the second dictionary (90)
print(nested2[1]['c'])
#write code to print the value associated with key 'b' in the third dictionary
print(nested2[2]['b'])
#add a fourth dictionary at the end of the list; print something to check your work.
nested2.append([{'Josita':1938, 'Nico':1937, 'Josesito':1975}])
print(nested2)
#change the value associated with 'c' in the third dictionary from "yes" to "no"; print something to check your work
nested2[2]['c'] = 'no'
print(nested2)

90
3
[{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': 'yes'}, [{'Josita': 1938, 'Nico': 1937, 'Josesito': 1975}]]
[{'a': 1, 'b': 3}, {'a': 5, 'c': 90, 5: 50}, {'b': 3, 'c': 'no'}, [{'Josita': 1938, 'Nico': 1937, 'Josesito': 1975}]]

In [42]:
# Extract the value associated with the key color and assign it to the variable color. Do not hard code this.

info = {'personal_data':
         {'name': 'Lauren',
          'age': 20,
          'major': 'Information Science',
          'physical_features':
             {'color': {'eye': 'blue',
                        'hair': 'brown'},
              'height': "5'8"}
         },
       'other':
         {'favorite_colors': ['purple', 'green', 'blue'],
          'interested_in': ['social media', 'intellectual property', 'copyright', 'music', 'books']
         }
      }


# personal_data =info['personal_data']['age']
# print(personal_data)

color = info['personal_data']['physical_features'] #['height']
print(color)

# other_data = info['other']['interested_in'][4]
# print(other_data)

{'color': {'eye': 'blue', 'hair': 'brown'}, 'height': "5'8"}

#### NESTED ITERATIONS

In [43]:
# Iterate for each of the elements in the list below:

nested1 = [['a', 'b', 'c'],['d', 'e'],['f', 'g', 'h']]
for x in nested1:
#     print(x)
#     print("level1: ")
    for y in x:
        print(y)
#         print("     level2: " + y)

a
b
c
d
e
f
g
h

In [44]:
## Below, we have provided a list of lists that contain information about people. 
## Write code to create a new list that contains every person’s last name, and save that list as last_names.

info = [['Tina', 'Turner', 1939, 'singer'], ['Matt', 'Damon', 1970, 'actor'], ['Kristen', 'Wiig', 1973, 'comedian'], ['Michael', 'Phelps', 1985, 'swimmer'], ['Barack', 'Obama', 1961, 'president']]

last_names = []

for person in info:
    last_names.append(person[1])
print(last_names)

['Turner', 'Damon', 'Wiig', 'Phelps', 'Obama']

In [45]:
# Below, we have provided a list of lists named L. 
# Use nested iteration to save every string containing “b” into a new list named b_strings.

L = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'], ['carrots', 'peas', 'cucumbers', 'green beans'], ['root beer', 'smoothies', 'cranberry juice']]

b_strings = []

for fruit_list in L:
    for fruit in fruit_list:
        if 'b' in fruit:
            b_strings.append(fruit)
b_strings

['bananas',
 'blueberries',
 'cucumbers',
 'green beans',
 'root beer',
 'cranberry juice']

In [46]:
# get number of gold medals for the UK in the London olyimpics
nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}

london_gold = nested_d['London']['Great Britain']
london_gold

29

In [47]:
sports = {'swimming': ['butterfly', 'breaststroke', 'backstroke', 'freestyle'], 'diving': ['springboard', 'platform', 'synchronized'], 'track': ['sprint', 'distance', 'jumps', 'throws'], 'gymnastics': {'women':['vault', 'floor', 'uneven bars', 'balance beam'], 'men': ['vault', 'parallel bars', 'floor', 'rings']}}

# Assign the string 'backstroke' to the name v1

v1 = sports['swimming'][2]
print(v1)

# Assign the string 'platform' to the name v2

v2 = sports['diving'][1]
print(v2)

# Assign the list ['vault', 'floor', 'uneven bars', 'balance beam'] to the name v3

v3 = sports['gymnastics']['women']
print(v3)

# Assign the string 'rings' to the name v4

v4 = sports['gymnastics']['men'][3]
print(v4)

backstroke
platform
['vault', 'floor', 'uneven bars', 'balance beam']
rings

In [48]:
# get the number of medals for the US for the three Olympics, and build a list for US medals only

nested_d = {'Beijing':{'China':51, 'USA':36, 'Russia':22, 'Great Britain':19}, 'London':{'USA':46, 'China':38, 'Great Britain':29, 'Russia':22}, 'Rio':{'USA':35, 'Great Britain':22, 'China':20, 'Germany':13}}

US_count = []

keys = nested_d.keys()

for key in keys:
    if key == 'Beijing':
        US_count.append(nested_d['Beijing']['USA'])
    elif key == 'London':
        US_count.append(nested_d['London']['USA'])
    elif key == 'Rio':
        US_count.append(nested_d['Rio']['USA'])
US_count

[36, 46, 35]

In [49]:
# iterate through the contents of 1_of_1 and assign the third element of sublist to a new list called third.

l_of_l = [['purple', 'mauve', 'blue'], ['red', 'maroon', 'blood orange', 'crimson'], ['sea green', 'cornflower', 'lavender', 'indigo'], ['yellow', 'amarillo', 'mac n cheese', 'golden rod']]

third = []

for element in l_of_l:
    third.append(element[2])
third

['blue', 'blood orange', 'lavender', 'mac n cheese']

In [50]:
# Create a list, t, that saves only the athlete’s name if it contains the letter “t”. 
# If it does not contain the letter “t”, save the athlete name into list other.

athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'], ['Felix', 'Bolt', 'Gardner', 'Eaton'], ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]

t = []
other = []

for athlete in athletes:
    for lev1 in athlete:
        if 't' in lev1:
            t.append(lev1)
        else:
            other.append(lev1)
    
    
print(t)
print(other)

['Lochte', 'Bolt', 'Eaton', 'Dalton']
['Phelps', 'Schooling', 'Ledecky', 'Franklin', 'Felix', 'Gardner', 'Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak']

### MAP, FILTER & LIST COMPREHENSIONS

In [51]:
# Using map, create a list assigned to the variable greeting_doubled that doubles each element in the list lst.
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

greeting_doubled = map(lambda value: 2 * value, lst)
print(list(greeting_doubled))

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [52]:
# Below, we have provided a list of strings called abbrevs. 
# Use map to produce a new list called abbrevs_upper that contains all the same strings in upper case.

abbrevs = ["usa", "esp", "chn", "jpn", "mex", "can", "rus", "rsa", "jam"]

abbrevs_upper = map(lambda abr: abr.upper(), abbrevs)
print(list(abbrevs_upper))

['USA', 'ESP', 'CHN', 'JPN', 'MEX', 'CAN', 'RUS', 'RSA', 'JAM']

In [53]:
# Write code to assign to the variable filter_testing all the elements in lst_check that have a w in them using filter.

lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

filter_testing = filter(lambda word: 'w' in word, lst_check)

print(list(filter_testing))

['watermelon', 'kiwi', 'strawberries']

In [54]:
# Using filter, filter lst so that it only contains words containing the letter “o”. 
#Assign to variable lst2. Do not hardcode this.

lst = ["witch", "halloween", "pumpkin", "cat", "candy", "wagon", "moon"]

lst2 = filter(lambda word: 'o' in word, lst)
print(list(lst2))

['halloween', 'wagon', 'moon']

In [55]:
# LIST COMPRE provide a new list doubling each number in the list with list comprehension

things = [2, 5, 9]

mylist = [value * 2 for value in things]
mylist

[4, 10, 18]

In [56]:
# Create function with a list comp keeping even numbers only 

# keep_evens([3, 4, 6, 7, 0, 1])

def keep_evens(nums):
    new_list = [num for num in nums if num % 2 == 0]
    return new_list

keep_evens([3, 4, 6, 7, 0, 1])

[4, 6, 0]

In [57]:
## Class sample
# we can also combine filter & map by chaining them together
# first double the numbers & then filter to keep the even only

things = [3, 4, 6, 7, 0, 1]

combine = map(lambda x: x * 2, filter(lambda y: y % 2 == 0, things))
print(list(combine))

[8, 12, 0]

In [58]:
# for the loop below, do the same but with list comprehension

L = [12, 34, 21, 4, 6, 9, 42]
lst = []
for x in L:
    if x > 10:
        lst.append(x)
print(lst)

lst2 = [num for num in L if num > 10]
print(lst2)

[12, 34, 21, 42]
[12, 34, 21, 42]

In [59]:
# Write code to assign to the variable compri all the values of the key name in any of the sub-dictionaries in 
# the dictionary tester. Do this using a list comprehension.

tester = {'info': [{"name": "Lauren", 'class standing': 'Junior', 'major': "Information Science"},{'name': 'Ayo', 'class standing': "Bachelor's", 'major': 'Information Science'}, {'name': 'Kathryn', 'class standing': 'Senior', 'major': 'Sociology'}, {'name': 'Nick', 'class standing': 'Junior', 'major': 'Computer Science'}, {'name': 'Gladys', 'class standing': 'Sophomore', 'major': 'History'}, {'name': 'Adam', 'major': 'Violin Performance', 'class standing': 'Senior'}]}

# for test in tester['info']:
#     print(test['name'])
    
compri = [test['name'] for test in tester['info']]
compri

['Lauren', 'Ayo', 'Kathryn', 'Nick', 'Gladys', 'Adam']

#### ZIP

In [60]:
# Below we have provided two lists of numbers, L1 and L2. Using zip and list comprehension, create a new list, L3, 
# that sums the two numbers if the number from L1 is greater than 10 and the number from L2 is less than 5. 
# This can be accomplished in one line of code.

L1 = [1, 5, 2, 16, 32, 3, 54, 8, 100]
L2 = [1, 3, 10, 2, 42, 2, 3, 4, 3]

L3 = [x1 + x2 for (x1, x2) in list(zip(L1,L2)) if (x1 > 10) & (x2 < 5)]
L3

[18, 57, 103]

In [61]:
# Write code to assign to the variable map_testing all the elements in lst_check while adding 
# the string “Fruit: ” to the beginning of each element using mapping.

lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

map_testing = map(lambda x: 'Fruit: ' + x, lst_check)
list(map_testing)

['Fruit: plums',
 'Fruit: watermelon',
 'Fruit: kiwi',
 'Fruit: strawberries',
 'Fruit: blueberries',
 'Fruit: peaches',
 'Fruit: apples',
 'Fruit: mangos',
 'Fruit: papaya']

In [62]:
# Below, we have provided a list of strings called countries. Use filter to produce a list called b_countries 
# that only contains the strings from countries that begin with B.

countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']


b_countries = filter(lambda country: 'B' in country, countries)
list(b_countries)

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

In [63]:
# Below, we have provided a list of tuples that contain the names of Game of Thrones characters. 
# Using list comprehension, create a list of strings called first_names that contains only the first 
# names of everyone in the original list.

people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]

first_names = [last[1] for last in people]
first_names

['Jon',
 'Cersei',
 'Arya',
 'Robb',
 'Jamie',
 'Daenerys',
 'Sansa',
 'Margaery',
 'Eddard',
 'Tyrion',
 'Joffrey',
 'Ramsey',
 'Peter']

In [64]:
# Use list comprehension to create a list called lst2 that doubles each element in the list, lst.

lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

lst2 = [x * 2 for x in lst]
lst2

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [65]:
# Below, we have provided a list of tuples that contain students’ names and their final grades in PYTHON 101. 
# Using list comprehension, create a new list passed that contains the names of students who passed the class 
# (had a final grade of 70 or greater).

students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]

passed = [name for name in students if (name[1] >= 70)]
passed

[('Tommy', 95), ('Carl', 70), ('Bob', 100), ('Sue', 75)]

In [66]:
# Write code using zip and filter so that these lists (l1 and l2) are combined into one big list 
# and assigned to the variable opposites if they are both longer than 3 characters each.

l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']

opposites = filter(lambda x: len(x[0]) > 3, list(zip(l1,l2)))
list(opposites)

[('left', 'right'), ('front', 'back')]

In [67]:
# Below, we have provided a species list and a population list. 
# Use zip to combine these lists into one list of tuples called pop_info. 
# From this list, create a new list called endangered that contains the names of species whose populations 
# are below 2500.

species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']

population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]

pop_species = list(zip(species, population))

endangered = filter(lambda x: int(x[1]) < 2500, pop_species)
endangered = list(endangered)
print(endangered)

# alternatively using list comprehension

endangered2 = [x[0] for x in pop_species if x[1] < 2500]
print(endangered2)

[('black rhino', 1000), ('orangutan', 500), ('sumatran elephant', 1200), ('blue whale', 2300), ('giant panda', 100), ('green turtle', 1800)]
['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']